@charset "UTF-8";
.section{background-size:cover !important;}
.inner{width:1300px; margin:0 auto;}
.inner600{width:600px; margin:0 auto;}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{width:4px; height:50px;}
#fp-nav ul li a span, .fp-slidesNav ul li a span{width:4px; height:50px;}

/***************************header/nav***************************/

/*header*/
header{position:fixed; width:100%; height:135px; top:0; left:0; background:#fff; z-index:999;}

/*top_header*/
.top_header{position:relative; width:100%; height:50px; background:#fff;}
.mycarbox{position:absolute; top:12px; width:105px; height:26px; border:1px solid #b4b4b4; display:flex; justify-content:center; z-index:999; cursor:pointer}
.mycarbox .mycar{font-size:16px; color:#555; margin-right:10px;}
.mycarbox .arrowup{display:none;}
.mycarslide{position:absolute; top:38px; width:105px; height:150px; border:1px solid #b4b4b4; background:#fff; transform:translateY(-1px); z-index:999; display:none;}
.mycarslide ul{text-align:center;}
.mycarslide ul li{width:105px; height:30px; font-size:16px; padding:3px 0 0 0; cursor:pointer;}

.topmenu{transform:translateY(12px); float:right; z-index:999; }
.topmenu ul{display:flex;}
.topmenu ul li{position:relative; font-size:16px; color:#555; margin-right:20px; cursor:pointer;}
.topmenu ul li:after{position:absolute; content:""; width:1px; height:10px; background:#555; top:25%; right:-11px;}
.topmenu ul li:last-child{margin-right:0;}
.topmenu ul li:last-child:after{display:none;}


.topmenu ul li:hover{color:#0e45d6;}


/*bottom_header*/
.bottom_header{width:100%; height:85px; background:#fff;}
.tit_container{width:100%; height:85px; display:flex; justify-content:center; align-items:center;}
.site_tit{display:flex; align-items:center; z-index:999999; cursor:pointer;}
.site_tit p{margin-right:10px;}

.site_tit .selected_cg{position:relative; display:flex; align-items:center; transform:translateY(1px); cursor:pointer;}
.site_tit .selected_cg .sel_tit{font-size:27px; font-weight:700; margin-right:6px;}

.site_tit .unselected_cg{position:absolute; top:67px; width:85px; height:80px; background:#fff; border:1px solid #b4b4b4; z-index:99; display:none; cursor:pointer;}
.site_tit .unselected_cg ul li{width:85px; height:40px; font-size:18px; font-weight:500; color:#555; padding:7px 2px 0 10px;}
.site_tit .unselected_cg ul li:hover{color:#000;}
.site_tit .selected_cg .arrowup{display:none;}

.site_tit .selected_cg .arrowup,
.site_tit .selected_cg .arrowdown{transform:translateY(-2px);}

.bottom_header > .inner{position:relative;}
.bottom_header > .inner > img{position:absolute; z-index:999; right:0; bottom:27px; cursor:pointer;}

/*nav*/
.add_fixed{position:fixed; top:0; left:0; background:#fff; z-index:99;}
.nav{position:fixed; width:100%; height:60px; background:#0e45d6;}


/***************************section1***************************/

#section1{width:100%;}
#section1 .inner{font-size:0;}
#section1 .inner .event,
#section1 .inner .servicequick{display:inline-block; vertical-align:top; padding-top:150px;} 

/*event*/
#section1 .inner .event{width:calc(100% - 474px);}
#section1 .inner .event h2{position:relative; font-size:20px; font-weight:500; text-align:left; margin-bottom:35px;}
#section1 .inner .event h2:after{position:absolute; content:""; width:30px; height:2px; background:#0046ff; left:0; top:40px;}

.event .inner_event .event_slider{width:600px;}
.event .inner_event .event_slider .items{cursor:pointer;}
.event .inner_event .event_slider .items .items_content > img{width:100%;}
.event .inner_event .event_slider .items .items_content > p{font-size:50px; line-height:60px; font-weight:500; color:#0046ff; text-align:left; margin-top:20px;}

.inner_event{position:relative; width:600px;}
.event .inner_event .full_event{position:absolute; bottom:-70px; right:0px; display:flex; align-items:center; cursor:pointer;}
.event .inner_event .full_event p{font-size:20px; line-height:12px; font-weight:300; margin-right:25px; transition:all 0.4s ease-out;}
.event .inner_event .full_event img.quickarrow{width:61px; height:12px; transition:all 0.4s ease-out;}
.event .inner_event .full_event img.morebtn{display:none; line-height:12px;}
.event .inner_event .full_event:hover > p{color:#0046ff;}
.event .inner_event .full_event:hover > img.quickarrow{transform:translateX(10px);}

/*arrow*/
.inner_event{position:relative;}
.inner_event .btn_prev,
.inner_event .btn_next{position:absolute; top:50%; transform:translateY(-50%); z-index:9; cursor:pointer; display:none;}
.inner_event .btn_prev{left:1%;}
.inner_event .btn_next{right:1%;}
#BtnPrev img{width:20px;}							
#BtnNext img{width:20px;}

/*bullet*/
.event_slider .slick-dots li button{background:#aaa; opacity:1; border-radius:30px; width:6px; height:6px;}
.event_slider .slick-dots li button:before{font-size:0;}
.event_slider .slick-dots li.slick-active button{background:#0046ff; opacity:1; border-radius: 30px; width:6px; height:6px;}
.event_slider .slick-dots li.slick-active button:before{font-size:0;}
.event_slider .slick-dots li{margin:0 1px;}
.event_slider{position:relative;}
.event_slider .slick-dots{position:absolute; left:-250px; bottom:-65px;}

/*servicequick*/
#section1 .inner .servicequick{width:474px;}
#section1 .inner .servicequick h2{position:relative; font-size:20px; font-weight:500; text-align:left; margin-bottom:55px;}
#section1 .inner .servicequick h2:after{position:absolute; content:""; width:30px; height:2px; background:#0046ff; left:0; top:40px;}

.servicequick .inner_service .statement{display:flex; align-items:center; justify-content:center; border:1px solid #aaa; width:100%; padding:30px 0; cursor:pointer; transition:all 0.4s ease-out;}
.servicequick .inner_service .statement p{font-size:20px; font-weight:300; margin-left:15px;}
.servicequick .inner_service .statement:hover{background:#e4ebff;}

.servicequick .inner_service ul{display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-between; }
.servicequick .inner_service ul li{display:flex; flex-direction:column; align-items:center; justify-content:center; border:1px solid #aaa; padding:30px 0; margin-top:20px; width:calc(100% / 3 - 13px); cursor:pointer; transition:all 0.4s ease-out;}
.servicequick .inner_service ul li p{font-size:20px; font-weight:300; margin-top:15px;}

.servicequick .inner_service ul li:nth-child(3),
.servicequick .inner_service ul li:nth-child(6){margin-right:0;}
.servicequick .inner_service ul li:hover{background:#e4ebff;}

.servicequick ul{position:relative;}
.servicequick ul .full_service{position:absolute; bottom:-50px; right:0; display:flex; align-items:center; cursor:pointer; z-index:9;}
.servicequick ul .full_service p{font-size:20px; line-height:12px; font-weight:300; margin-right:25px; transition:all 0.4s ease-out;}
.servicequick ul .full_service img.quickarrow{width:61px; height:12px; transition:all 0.4s ease-out;}
.servicequick ul .full_service img.morebtn{display:none; line-height:12px;}
.servicequick ul .full_service:hover > p{color:#0046ff;}
.servicequick ul .full_service:hover > img.quickarrow{transform:translateX(10px);}


/***************************section2***************************/

/*card*/
#section2 .inner .card{margin-top:50px;}
#section2 .inner .card > h2{position:relative; font-size:20px; font-weight:500; text-align:left; margin-bottom:30px;}
#section2 .inner .card > h2:after{position:absolute; content:""; width:30px; height:2px; background:#0046ff; left:0; top:40px;}


.card_tab ul{display:flex; justify-content:center; margin-bottom:75px;}
.card_tab .tabs > li{position:relative; margin-right:120px; font-size:25px; font-weight:500; color:#7b7b7b; cursor:pointer;}
.card_tab .tabs > li:last-child{margin-right:0;}
.card_tab li:hover{color:#000; transition:all 0.4s ease-out;}
.cardtab_active{color:#000 !important; border-bottom:2px solid rgba(0,70,255,0.3); z-index:9;}

.card_slider .items .items_content{display:flex; align-items:flex-start; justify-content:center;}
.con_card{display:flex; align-items:center; justify-content:center;}
.con_card img{width:80%;}
.con_card span{display:inline-block; width:250px; height:250px; background:rgba(0,70,255,0.3); border-radius:50%;}
.con_title{margin-left:60px;}
.con_title h2{font-size:40px; font-weight:500; color:#0046ff; line-height:45px; text-align:left; margin-bottom:12px;}
.con_title > p{font-size:20px; font-weight:300; text-align:left; margin-bottom:40px;}

.con_title .card_detail ul{display:flex; flex-direction:column;}
.con_title .card_detail ul li{display:flex; margin-bottom:25px;}
.con_title .card_detail ul li > img{margin-right:25px;}
.con_title .card_detail ul li p{font-size:18px; font-weight:300; font-family:'Noto Sans KR';}

.con_title .card_detail ul li > div.card_quick{display:flex; align-items:center; justify-content:center; width:135px; height:36px; border:1px solid #aaa; margin-top:20px; cursor:pointer;}
.con_title .card_detail ul li > div.card_quick .quickarrow{display:none;}
.con_title .card_detail ul li .card_quick p{font-size:18px; font-weight:300; margin-right:10px; line-height:36px;}
.con_title .card_detail ul li .card_quick > img{width:7px; height:7px; line-height:36px;}

/*arrow*/
.cardfull{position:relative;}
.cardfull .btn_prev1,
.cardfull .btn_next1{position:absolute; top:35%; transform:translateY(-35%); z-index:9; cursor:pointer; display:none;}
.cardfull .btn_prev1{left:1%;}
.cardfull .btn_next1{right:1%;}
#BtnPrev1 img{width:20px;}							
#BtnNext1 img{width:20px;}

.cardsum{margin-top:-60px;}
.cardsum .slick-track{padding:-15px 0;}

.cardsum .items{display:none; cursor:pointer;}
.cardsum .items p + p{text-align:center;}
.cardsum .items p img{width:100%;}
.cardsum .items p.more{display:none; font-weight:500; cursor:pointer;}

.cardsum .items p:first-child,
.cardsum .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] .items p:first-child{
	opacity:0.5;
	transform:scale(0.8);
	transition:all 0.4s ease-out;
}

.cardsum .slick-center .items p:first-child,
.cardsum .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] .items p:first-child{
	opacity:1;
	transform:scale(1);
}

.cardsum .items p:nth-child(2),
.cardsum .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] .items p:nth-child(2){
	opacity:0;
	transition:all 0.4s ease-out;
}

.cardsum .slick-center .items p:nth-child(2),
.cardsum .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] .items p:nth-child(2){
	opacity:1;
	transform:scale(1);
}

.cardsum .items p:nth-child(3),
.cardsum .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] .items p:nth-child(3){
	opacity:0;
	transition:all 0.4s ease-out;
}

.cardsum .slick-center .items p:nth-child(3),
.cardsum .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] .items p:nth-child(3){
	opacity:1;
	transform:scale(1);
}

.card_content{position:relative;}
.card_content .full_cards{position:absolute; bottom:-30px; right:0; display:flex; align-items:center; cursor:pointer;}
.card_content .full_cards p{font-size:20px; line-height:61px; font-weight:300; margin-right:25px; transition:all 0.4s ease-out;}
.card_content .full_cards img.quickarrow{width:61px; height:12px; transition:all 0.4s ease-out;}
.card_content .full_cards img.morebtn{display:none;}
.card_content .full_cards:hover > p{color:#0046ff;}
.card_content .full_cards:hover > img.quickarrow{transform:translateX(10px);}


/*arrow*/
.cardsum{position:relative;}
.cardsum .btn_prev2,
.cardsum .btn_next2{position:absolute; top:50%; transform:translateY(-50%); z-index:9; cursor:pointer; display:none;}
.cardsum .btn_prev2{left:7%;}
.cardsum .btn_next2{right:7%;}
#BtnPrev2 img{width:18px;}							
#BtnNext2 img{width:18px;}


/***************************section3***************************/

#section3{width:100%; background:url(../image/main/finance_bg.jpg) no-repeat;}
.inner_section3{display:flex; align-items:flex-start; justify-content:flex-end; width:100%;}
.inner_section3 .inner{margin:0; width:calc(100% - 300px); text-align:left; font-size:0}
.inner_section3 .inner .con_txt,
.inner_section3 .inner .con_list{display:inline-block; vertical-align:middle;}

.inner_section3 .inner .con_txt{width:500px;}
.inner_section3 .inner .con_txt > h2{position:relative; font-size:20px; font-weight:500; text-align:left; margin-bottom:55px;}
.inner_section3 .inner .con_txt > h2:after{position:absolute; content:""; width:30px; height:2px; background:#0046ff; left:0; top:40px;}

.inner_section3 .inner .con_txt > h3{font-size:56px; font-weight:500; color:#0046ff;}
.inner_section3 .inner .con_txt > p{font-size:24px; font-weight:300; margin-top:15px;}
.inner_section3 .inner .con_txt .more_finance{width:204px; height:37px; border:1px solid #aaa; display:flex; align-items:center; justify-content:center; margin-top:15px; cursor:pointer;}
.inner_section3 .inner .con_txt .more_finance p{font-size:18px; margin-right:15px;}

.inner_section3 .inner .con_list{width:calc(100% - 500px); margin-top:70px;}
.inner_section3 .con_list_slider{transform:translateX(70px)}
.inner_section3 .con_list .slick-list{margin:0 -10px}
.inner_section3 .con_list .slick-slide{margin:0 10px}
.inner_section3 .con_list .slick-slide img{width:100%}
.inner_section3 .con_list .items{display:none;}

.inner_section3 .con_list .items .inner_items{position:relative; width:100%; border-radius:25px; overflow:hidden;}
.inner_section3 .con_list .items .inner_items img.fn_icon{position:absolute; top:40%; left:50%; transform:translate(-50%, -50%); width:40%; z-index:9;}
.inner_section3 .con_list .items .inner_items p{position:absolute; bottom:35px; left:30px; width:40%; color:#fff; z-index:9;}
.inner_section3 .con_list .items .inner_items p.item_tit{font-size:30px; font-weight:500; margin-bottom:30px;}
.inner_section3 .con_list .items .inner_items p.item_sub{font-size:21px; font-weight:300;}

.inner_section3 .con_list .items .inner_items img.fn_img,
.inner_section3 .con_list .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] .items .inner_items img.fn_img{
		transform:scale(1);
		transition:all 0.4s ease-out;
}

.inner_section3 .con_list .slick-current .items .inner_items img.fn_img,
.inner_section3 .con_list .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] .items .inner_items img.fn_img{
	transform:scale(1.2);
}


/***************************section4***************************/

.service .service_title h3{font-size:56px; font-weight:500; color:#0046ff; text-align:center; margin-bottom:20px;}
.service .service_title p{font-size:24px; font-weight:300; text-align:center;}

.service_content ul{width:100%; font-size:0; margin-top:100px;}
.service_content ul li{display:inline-block; width:calc(100% / 4 - 22.5px); height:396px; padding:36px 0 50px 30px; vertical-align:top; margin-right:20px;}
.service_content ul li:nth-child(1){background:#e8f1f9;}
.service_content ul li:nth-child(2){background:#fbf6ea;}
.service_content ul li:nth-child(3){background:#f4f0fe;}
.service_content ul li:nth-child(4){background:#eaf8f6; margin-right:0;}

.service_content ul li{position:relative; border-radius:15px; overflow:hidden;}
.service_content ul li > img{position:absolute; top:36px; right:0; transition:all 0.4s ease-out;}
.service_content ul li .s_con_title{position:absolute; text-align:left; left:30px; bottom:50px;}
.service_content ul li .s_con_title b{font-size:24px;}
.service_content ul li .s_con_title p{font-size:18px; font-weight:300;}


.service_content ul li .service_quicks{position:absolute; bottom:20px; right:30px; display:flex; align-items:center; justify-content:center; width:93px; cursor:pointer;}
.service_content ul li .service_quicks p{font-size:15px; font-weight:600; line-height:30px; margin-right:15px;}
.service_content ul li .service_quicks img.servicearrow{width:8px; height:13px; line-height:30px;}

.service_content ul li{transition:all 0.4s ease-out;}
.service_content ul li:hover{transform:translateY(-20px);}
.service_content ul li:hover > img{transition:all 0.4s ease-out;}
.service_content ul li:hover > img{transform:scale(110%);}


/***************************section5***************************/

#section5 .inner .notice > h2{position:relative; font-size:20px; font-weight:500; text-align:left; margin-bottom:55px;}
#section5 .inner .notice > h2:after{position:absolute; content:""; width:30px; height:2px; background:#0046ff; left:0; top:40px;}

.inner_notice{display:flex;}
.notice .notice_title{display:flex; flex-direction:column; align-items:flex-start; width:350px; margin-right:120px;}
.notice .notice_title h3{font-size:56px; font-weight:500; color:#0046ff; line-height:70px; text-align:left; margin-bottom:30px;}
.notice .notice_title .notice_tabs{display:flex; flex-wrap:wrap;}
.notice .notice_title .notice_tabs li{display:inline-block; padding:5px 25px; border:1px solid #000; background:#fff; border-radius:25px; cursor:pointer; font-size:24px; margin:0 10px 10px 0;}
.notice .notice_title .notice_tabs li.maintab_active{border:1px solid #0046ff; background:#0046ff; font-weight:500; color:#fff;}
.notice .notice_title .notice_tabs li.moreview{display:none; color:#000;}

.ntab_container{width:calc(100% - 470px); display:flex; flex-direction:column; justify-content:flex-end;}

.ntab_content ul li{display:flex; justify-content:space-between; align-items:center; width:100%; height:160px; background:#fff; border-top:1px solid #aaa; border-bottom:1px solid #aaa; padding:0 50px;}
.ntab_content ul li:first-child{border-top:2px solid #000;}
.ntab_content ul li:last-child{border-bottom:2px solid #000;}

.ntab_content ul li .noticedate{width:80px;}
.ntab_content ul li .noticedate p{text-align:center;}
.ntab_content ul li .noticedate p:first-child{font-size:22px; font-weight:300; margin-bottom:-20px;}
.ntab_content ul li .noticedate p:last-child{font-size:60px; font-weight:500; color:#0046ff;}

.ntab_content ul li .noticecon{width:450px;}
.ntab_content ul li .noticecon p{text-align:left;}
.ntab_content ul li .noticecon p:first-child{font-size:18px; font-weight:600;}
.ntab_content ul li .noticecon p:last-child{font-size:25px; font-weight:300; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}

.ntab_content ul li span{position:relative; display:inline-block; width:30px; height:30px; border:1px solid #000; border-radius:15px; cursor:pointer; transition:all 0.3s ease-out;}
.ntab_content ul li span:before{position:absolute; content:""; width:15px; height:1px; background:#000; left:0; top:50%; transform:translateX(50%);}
.ntab_content ul li span:after{position:absolute; content:""; width:1px; height:15px; background:#000; left:50%; top:0; transform:translateY(50%);}
.ntab_content ul li span:hover{transform:rotate(180deg);}

.ntab_container{position:relative;}
.ntab_container .full_notice{position:absolute; bottom:-50px; right:0; display:flex; align-items:center; cursor:pointer;}
.ntab_container .full_notice p{font-size:20px; line-height:12px; font-weight:300; margin-right:25px; transition:all 0.4s ease-out;}
.ntab_container .full_notice img.quickarrow{width:61px; height:12px; transition:all 0.4s ease-out;}
.ntab_container .full_notice img.morebtn{display:none; line-height:12px;}
.ntab_container .full_notice:hover > p{color:#0046ff;}
.ntab_container .full_notice:hover > img.quickarrow{transform:translateX(10px);}

/***************************section6***************************/
#section6{position:relative;}
#section6.fp-section,
#section6 .fp-tableCell{height:auto !important;}/*id값이랑 붙여써야함. 같은 레벨에 있는 클래스.*/
#fp-nav ul li:last-child a span, 
.fp-slidesNav ul li:last-child a span{display:none;}

.footer{background:#222;}
.sns{width:145px; height:70px; display:flex; align-items:center; justify-content:center; flex-wrap:wrap; padding-top:70px;}
.sns span{display:inline-block; width:32px; height:32px; margin-right:15px; margin-bottom:10px; cursor:pointer;}
.sns span img{width:100%;}
.sns span:nth-child(4),
.sns span:nth-child(5),
.sns span:nth-child(6){margin-bottom:0;}

.footer_info{display:flex; flex-direction:column; align-items:center; justify-content:center;}
.footer_info > ul{display:flex; justify-content:center;}
.footer_info > ul li{font-size:14px; color:#999; margin-right:20px; margin-bottom:40px; cursor:pointer;}

.info_center{margin-bottom:55px;}
.info_center p{font-size:18px; font-weight:500; color:#999;}
.info_center span img{margin-bottom:20px;}
.info_center p b{font-size:23px; font-weight:700;}

.info_etc ul{display:flex; justify-content:center; margin-bottom:60px;}
.info_etc ul li{font-size:14px; color:#999; margin-right:20px; font-weight:500;}

.familysite{position:relative; cursor:pointer;}
.familysite .fs_tit{position:absolute; width:135px; height:36px; right:0; top:0; border-bottom:2px solid #999; display:flex; align-items:center; justify-content:center;}
.familysite .fs_tit .ft_t{font-size:15px; font-weight:500; color:#999; margin-right:10px;}
.familysite .fs_con{position:absolute; width:135px; height:250px; right:0; top:36px; background:#999; border-top:2px solid #000; border-bottom:2px solid #000; overflow: auto; display:none;}
.familysite .fs_con ul li{padding-top:10px; color:#222; font-size:14px; cursor:pointer;}
.familysite .fs_con ul li:last-child{padding-bottom:10px;}
.familysite .fs_tit .arrowup{display:none;}

/* scrollbar */
.fs_con::-webkit-scrollbar{width:10px;}
.fs_con::-webkit-scrollbar-thumb{background:#666; border-radius:10px;}
.fs_con::-webkit-scrollbar-track{background:rgba(0, 0, 0, 0.1);}

/*******************************************/
/* topbtn */

.topbtn{position:absolute; width:55px; height:55px; background:#0e45d6; left:50%; top:-25px; display:flex; align-items:center; justify-content:center; transform:translateX(-50%);
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;
-o-border-radius:50%;
cursor:pointer;}
.topbtn img{width:40%;}